<!doctype html>
<style type="text/css">
	#mainPopup {
		padding: 10px;
		/*height: 200px;*/
		width: 200px;
		font-family: Helvetica, Ubuntu, Arial, sans-serif;
	}
	h1 {
		font-size: 2em;
	}
</style>


<div id="mainPopup">
<p style="color:gray;">Example: funny,subreddit2,tech</p>
<form id="form">
    <input type="text" id="subreddits"/>
    <input type="submit" value="save" id="save" />
</form>
<p id="status"></p>
</div>

<script type="text/javascript" src="../lib/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="popup.js"></script>